<h1> {{recipe.name}} </h1>
<h2>{{recipe.type}}</h2>
<h2> {{recipe.convert_genres}} </h2>

<h3>Cook Time: {{recipe.cook_time}} ({{ recipe.convert_cook_time }})</h3>

<h3>Prep Time: {{recipe.prep_time}} ({{ recipe.convert_prep_time }})</h3>
{%if recipe.link%}
  <a href="{{recipe.link}}">Find the recipe here!</a>
{%endif%}
<img src="{{recipe.image_link}}" alt="A picture of {{recipe.food_name}}">

<p>
  {%if recipe.get_tags_as_string%}
    Tags: {{recipe.get_tags_as_string}}
  {%endif%}
</p>

<p>
  {%if recipe.times_made == 0%}
    This recipe hasn't been made yet! Why not give it a try?
  {%else%}
    This recipe has been made {{recipe.times_made}} time{{ recipe.times_made|pluralize }}. <br>
    It was last made {{recipe.last_time_made}}
  {%endif%}
</p>

<!-- Add functionality for incrementing the times_made and the most recent date
currently broken, fix later!

<button type="button" name="made_it" id="made_this">I made this!</button>

<script type="text/javascript">
  var button = document.getElementById("made_this");
  button.addEventListener("click", ()=>{
    button.disabled = true;
    button.innerHTML = "Delicious!";
    put times made function here maybe?;
  } )
</script>
-->
