{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/index_style.css' %}">

    <title>K+A Recipes</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <h1>Recipes</h1>
    </div>

    {%for recipe in recipes_list%}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row">
    {% endif %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
          <a href="{% url 'recipes:detail' recipe.id %}">
          <div class="frontside">
            <div class="card">
              <div class="card-image-container">
                {%if recipe.is_static%}
                  <img class="card-img-top img- fluid card-image" src="{% static recipe.image_link %}" alt="A default image of a {{recipe.type}}">
                {%else%}
                  <img class="card-img-top img- fluid card-image" src="{{recipe.image_link}}" alt="A picture of {{recipe.name}}">
                {%endif%}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <h6 class="card-text">{{recipe.convert_genres}}</h6>
              </div>
            </div>
          </div>
          </a>
          <a href="{% url 'recipes:detail' recipe.id %}">
          <div class="backside">
            <div class="card">
              <div class="card-header">
                {{recipe.name}}
              </div>
              <div class="card-body">
                <p class="card-text">Cook Time: {{recipe.convert_cook_time}}</p>
                <p class="card-text">Prep Time: {{recipe.convert_prep_time}}</p>
                <p class="card-text">
                {%if recipe.times_made == 0%}
                  This recipe hasn't been made yet! Why not give it a try?
                {%else%}
                  This recipe has been made {{recipe.times_made}} time{{ recipe.times_made|pluralize }}. <br>
                  It was last made {{recipe.last_time_made}}
                {%endif%}
                </p>
                {%if recipe.link %}
                <!-- line breaker causes footer overlap -->
                <p class="card-text"></p>
                <a href="{{recipe.link}}">Direct Link</a>
                {%endif%}
              </div>
              <div class="card-footer">
                {{recipe.get_tags_as_string}}
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
      </div>
    {% endif %}
    {%endfor%}
  </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  </body>
</html>
