<h1>Search</h1>

<form method="post">
  {% csrf_token %}
  Type: <br>
  <input type="checkbox" name = "types[]" value="all"> Select all<br>
  <input type="checkbox" name = "types[]" value="entree"> Entree <br>
  <input type="checkbox" name = "types[]" value="side"> Side <br>
  <input type="checkbox" name = "types[]" value="salad"> Salad <br>
  <input type="checkbox" name = "types[]" value="soup"> Soup <br>
  <input type="checkbox" name = "types[]" value="dessert"> Dessert <br>
  <input type="checkbox" name = "types[]" value="drink"> Drink <br>
  <br>

  Genre: <br>
  <input type="checkbox" name = "genres[]" value="all"> Select all<br>
  {%for genre in genres_list%}
    <input type="checkbox" name = "genres[]" value="genre.name"> {{genre.name}}<br>
  {%endfor%}
  <br>

  Cook Time: <br>
  Min: <input type="number" name="cook_time_min" min = "0" max = "6" value = "0">
  Max: <input type="number" name="cook_time_max" min = "0" max = "6" value = "6">
  <br> <br>

  Prep Time: <br>
  Min: <input type="number" name="prep_time_min" min = "0" max = "6" value = "0">
  Max: <input type="number" name="prep_time_max" min = "0" max = "6" value = "6">
  <br> <br>

  Vegetarian:
  <select>
    <option value="shrug">¯\_(ツ)_/¯</option>
    <option value="yes">Yes</option>
    <option value="options">Vegetarian/Vegetarian Substitutions</option>
    <option value="no">Meat only</option>
  </select>
  <br> <br>

  Spicy:
  <select>
    <option value="shrug">¯\_(ツ)_/¯</option>
    <option value="yes">Yes</option>
    <option value="options">Spicy option</option>
    <option value="no">No</option>
  </select>
  <br> <br>

  Freezes well:
  <input type="checkbox" name="freeze" value = "yes"> Yes
  <br>

  <br>
  <input type="submit" value="Search">
  <input type="reset">
</form>
